.button {
    display: block;
    background-color: white;
    text-align: center;
    padding-top: 5px;
    border-radius: 5px;
    width: 100px;
    height: 30px;
}

.button.red {
    background-color: #DC143C;
    color: white;
}

.button.red:hover {
    background-color: #B22222;
    cursor: default;
}

@media only screen and (max-width: 421px) {
    .button {
        width: 90px;
        height: 20px;
        padding-top: 2px;
    }
}
